In [1]:
import uuid

def creat_code(number=10):
	result =[]

	while True is True:
		uuid_id=uuid.uuid1()
		tem = str(uuid_id).replace('-','')
		tmmmm=str(tem[4:])
		if not tmmmm in result:
			result.append(tmmmm)
		if len(result) is number:
			break
	print result

creat_code()

['a6cf76f111e587b5ff2ad3e0e0c5', 'a6d076f111e5b2fcff2ad3e0e0c5', 'a6d176f111e599beff2ad3e0e0c5', 'a6d276f111e5a33bff2ad3e0e0c5', 'a6d376f111e5972dff2ad3e0e0c5', 'a6d476f111e5bbd5ff2ad3e0e0c5', 'a6d576f111e5ae32ff2ad3e0e0c5', 'cdde76f111e58802ff2ad3e0e0c5', 'cddf76f111e5a691ff2ad3e0e0c5', 'cde076f111e59446ff2ad3e0e0c5']

In [19]:
import uuid
def creat_coupon(number):
    result=[]
    while len(result) < number:
        uuid_id = uuid.uuid1()
        coupon =  str(uuid_id).replace('-','')
        if not coupon in result:
            result.append(coupon)
    print result
creat_coupon(10)

['122519e176f311e5a0f4ff2ad3e0e0c5', '122519e276f311e58c34ff2ad3e0e0c5', '122519e376f311e599c9ff2ad3e0e0c5', '122519e476f311e5a946ff2ad3e0e0c5', '122519e576f311e5a7e5ff2ad3e0e0c5', '122519e676f311e5ac31ff2ad3e0e0c5', '122519e776f311e588deff2ad3e0e0c5', '122519e876f311e5bd9eff2ad3e0e0c5', '122519e976f311e5b67bff2ad3e0e0c5', '122519ea76f311e5ab80ff2ad3e0e0c5']

##產生coupon並寫入到MYSQL中(1)

In [22]:
# -*- coding: utf-8 -*-

import mysql.connector

def store_mysql(filepath):
    conn = mysql.connector.connect(user = 'root', password = '', database = 'ShowMeTheCode')
    cursor = conn.cursor()

    # 判断表是否已经存在
    cursor.execute('show tables in ShowMeTheCode;')
    tables = cursor.fetchall()
    findtables = False
    for table in tables:
        if 'code' in table:
            findtables = True
    if not findtables:
        cursor.execute('''
                CREATE TABLE `ShowMeTheCode`.`code` (
                `id` INT NOT NULL AUTO_INCREMENT,
                `code` VARCHAR(10) NOT NULL,
                PRIMARY KEY (`id`));
        ''')

    f = open(filepath, 'rb')
    for line in f.readlines():
        code = line.strip()
        cursor.execute("insert into ShowMeTheCode.code (code) values(%s);", [code])

    conn.commit()
    cursor.close()
    conn.close()

if __name__ == '__main__':
    store_mysql('Activation_code.txt')

##產生coupon並寫入到MYSQL中(2)

In [ ]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Author: 30987
# @Date:   2015-01-12 17:22:35
# @Last Modified by:   30987
# @Last Modified time: 2015-01-12 22:33:53

#第 0002 题：将 0001 题生成的 200 个激活码（或者优惠券）保存到 MySQL 关系型数据库中。

import uuid
import MySQLdb

def creat_code(number=20):
	result = []
	while True is True:
		tem=str(uuid.uuid1()).replace('-','')
		if not tem in result:
			result.append(tem)
		if len(result) is number:
			break
	return result

def coont_db(result):
	num = len(result)
	db= MySQLdb.connect('localhost','root','','python',charset='utf8')
	cur = db.cursor()

	try:
		db= MySQLdb.connect('localhost','root','','python',charset='utf8')
		cur = db.cursor()
		print "OK"
		for i in xrange(num):
			cur.execute('insert into code (code_num) values("%s")' % (result[i]))
		db.commit()
	except:
		print "数据库连接错误!"
		db.rollback()
	db.close()



if __name__ == '__main__':
	coont_db(creat_code())